<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=CHETANBADHE-PC\SQLEXPRESS;Initial Catalog=Book_DB;Persist Security Info=True;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />

    <services>
      <service name="WCFBookService.Service" behaviorConfiguration="WebServiceBehavior">
        <endpoint address="jsonService" binding="webHttpBinding" contract="WCFBookService.IService" behaviorConfiguration="jsonBehavior" bindingConfiguration="" name="JSON" />
        <endpoint address="soapService" binding="basicHttpBinding" contract="WCFBookService.IService" name="SOAP"   />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"  />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="WebServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00"
                   sendTimeout="10:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text"
                   textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096"
              maxNameTableCharCount="16384" />
          <security  mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding allowCookies="false" crossDomainScriptAccessEnabled="false" name="httpBinding" maxBufferSize="2147483647"  
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="10:00:00" receiveTimeout="10:00:00" />
      </webHttpBinding>
    </bindings>

    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>

  </system.serviceModel>

</configuration>
